@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700;900&display=swap');

.profile-done-recipes {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 290px;
}

.profile-perfil {
    position: absolute;
    left: 46%;
    top: 19%;
}

.profile-email {
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Epilogue';
    font-size: 18px;
    font-weight: 500;
}

.profile-done-recipes-button {
    position: absolute;
    border: none;
    background-color: white;
    width: 100%;
    left: 60px;
    font-size: 18px;
    font-weight: 500;
}

.margin-done {
    position: absolute;
    top: 55%;
    width: 70%;
    left: 13%;
    height: 1px;
    background-color: #B1B1B1;
}

.profile-favorite-recipes-button {
    position: absolute;
    border: none;
    background-color: white;
    left: 60px;
    top: 59%;
}

.margin-favorite {
    position: absolute;
    top: 67%;
    width: 70%;
    left: 13%;
    height: 1px;
    background-color: #B1B1B1;
}

.profile-logout-button {
    position: absolute;
    border: none;
    background-color: white;
    left: 60px;
    top: 70%;
}