.btn-profile {
    background: #FCDC36;
    border: none;
    position: absolute;
    left: 280px;
    top: 13px;
}

.btn-search {
    background: #FCDC36;
    border: none;
    position: absolute;
    left: 320px;
    height: 40px;
    top: 10px;
}

.header-container {
    background: #FCDC36;
    height: 60px;
}

.header-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #41197F;
    top: 190px;
    position: absolute;
    background: white;
}

.logo-recipes {
    position: absolute;
    top: 3%;
    left: 20%;
}

.icone-recipes {
    position: absolute;
    top: 1%;
    left: 5%;
}

.dish-icon {
    position: absolute;;
    top: 150px;
    left: 160px;
}

.drink-icon {
    position: absolute;
    top: 150px;
    left: 170px;
}