@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700;900&display=swap');

.search-bar {
    position: absolute;
    top: 260px;   
}

.search-input {
    top: 30%;
    position: absolute;
    width: 340px;
    height: 40px;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    left: 10px;
    z-index: 1;
}

.search-btn {
    background: #FCDC36;
    color:#FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    position: absolute;
    width: 250px;
    height: 30px;
    top: 100px;
    left: 50px;
}

.search-radio {
    font-weight: bold;
    border-radius: 5px;
    background: #41197F;
    color: #FFFFFF;
    top: 30px;;
    width: 340px;
    height: 120px;
    position: absolute;
    left: 10px;
}

.ingredient-label {
    margin-right: 15px;
}

.name-label {
    margin-right: 15px;
}

.ingredient-radio {
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 5px;
}

.name-radio {
    margin-right: 5px;
}

.first-letter-radio {
    margin-right: 5px;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    top: 180px;
    width: 360px;
    position: absolute;
    left: 13px;
}

.recipe-card-button {
    height: 198px;
    width: 152px;
    border-radius: 5px;
    border-color: #B1B1B1;
    border: 1px solid #B1B1B1;
}

.recipe-img {
    border: 1px solid #B1B1B1;
    margin-left: -6px;
    margin-top: -2px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-name {
    margin-top: 2px;
    margin-left: -3px;
    border-radius: 5px;
    font-family: 'Epilogue';
    overflow: hidden;
    height: 45px;
    text-overflow: ellipsis;
    width: 150px;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recipe-card {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}