code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(71, 71, 71, 0.801) !important;
}

.index-container {
  width: 360px;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: white
}
